body {
	font-size: 16px;
	padding: 0 0 60px;
}

h1, h2 {
	text-align: center;
}

img {
	display: block;
	margin: 16px auto;
}

.section { 
	width: 80%;
	min-height: 250px;
	border: teal 1px solid;
	margin: 20px auto;
	display: block;
	padding: 16px;
	margin-bottom: 32px;
}

.intro {
	border: none;
}

.pie-chart {
	width: 80%;
	display: block;
	margin: 20px auto;
}

.container {
	position: relative;
	min-height: 275px;
	width: 80%;
	display: block;
	margin: 24px auto;
}

.imageContainer {
	margin-top: 16px;
	display: inline-block;
	width: 30%;
	min-height: 250px;
	border: solid 1px purple;
	position: absolute;
}

.userImage {

}

.matchImage {
	float: right;
	margin-left: 65%;
}